* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-heading {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -5%;
    color: #801B53;
}

.primary-para {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000000;
}

/* howitbeginsec style start */
#howitbeginsec {}

#howitbeginsec .howitbegincont {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 5rem 0;
}

#howitbeginsec .howitbegintext h1 {
    margin-bottom: 2rem;
}

#howitbeginsec .howitbeginimg img {
    width: 100%;
    /* max-height: 620px; */
}

/* howitbeginsec style end */
/* trustedrecognisedsec style start */
#trustedrecognisedsec {
    padding-bottom: 16rem;
}

#trustedrecognisedsec .trustedrecognisedtext {
    margin-bottom: 4rem;
}

#trustedrecognisedsec .trustedrecognisedtext h1 {
    margin-bottom: 2rem;
}

#trustedrecognisedsec .trustedrecognisedtext p {
    color: #000000;
}

#trustedrecognisedsec .trustedrecognisedimgsec {
    display: flex;
    gap: 2rem;
}

#trustedrecognisedsec .trustedrecognisedimg img {
    width: 100%;
}

.trustedrecognisedimg {
    position: relative;
}

#trustedrecognisedsec .sectiontextdwn {
    background-color: #E6D1DC;
    padding: 3rem 3rem;
    border-radius: 0 0 1rem 1rem;
    /* top: 0; */
    z-index: -1000;
    position: absolute;
    width: 100%;
    transform: translateY(-9.5rem);
    transition: transform 0.3s ease-in-out;
}

.trustedrecognisedimg:hover .sectiontextdwn {
    transform: translateY(-1rem) !important;
}

#trustedrecognisedsec .sectiontextdwn p {
    color: #000;
    font-family: Lato;
    font-weight: 600;
    font-style: Regular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
}

/* trustedrecognisedsec style end */

/* multigenerationalsec style start */
#multigenerationalsec {
    /* padding: 5rem !important; */
    background: #801B53;
    margin-bottom: 5rem;
}

#multigenerationalsec .multigenerationalcont {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10rem 0; */
    display: flex;
    padding: 10rem 0;
}

.multigenerationalsecone {
    /* flex: 2; */
    width: 40%;
}

.multigenerationalsectwo {
    /* flex: 1; */
    width: 60%;
}

#multigenerationalsec .multigenerationalsecone {
    border-right: 1px solid #fff;
}

#multigenerationalsec .multigenerationalsecone h1 {
    margin-bottom: 2rem;
    color: #fff;
    padding-right: 3rem;
    font-size: 3rem;
    line-height: 5rem;
}

#multigenerationalsec .multigenerationalsecone p {
    color: #fff;
}

#multigenerationalsec .multigenerationalsectwo {
    display: flex;
    justify-content: space-between;
    /* background-color: palegoldenrod; */
    padding: 2rem;
}

#multigenerationalsec .multigenerationalsectwo .secboxdiv {
    /* background-color: red; */
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
    gap: 1rem;
}

#multigenerationalsec .multigenerationalsectwo .secboxdiv:not(:last-child) {
    border-right: 1px solid #fff;
}

#multigenerationalsec .multigenerationalsectwo .secboxdiv h3 {
    color: #fff;
}


/* multigenerationalsec style  end */


/* Mobile only Why multigenerational living matters start  */
#multigenerationalsecmb {
    background-color: #801B53;
    padding: 3rem 0;
}

.multigenerationalseconemb h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -5%;
    color: #fff;
    margin-bottom: 1rem;
}

.multigenerationalseconemb p {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #fff;
}
.multigenerationalseconemb {
    margin-bottom: 2rem;
}
.multigenerationalsectwo-mb {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.secboxdiv-mb {
    display: flex;
    align-items: center;
    gap: 5rem;
    color: #fff;
    padding: 3rem 0;
}
.secboxdiv-mb:not(:last-child) {
    border-bottom: 1px solid #fff;    
}
.secboxdiv-mb h3 {
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 25px;
line-height: 30px;
letter-spacing: 0%;
}

/* Mobile only Why multigenerational living matters end  */


/* Here's why it works start */
#hereswhyitworkssec {
    padding: 0 0 5rem 0;
}

#hereswhyitworkssec .hereswhyitworkscont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

#hereswhyitworkssec .hereswhyitworkstext {
    padding-bottom: 3rem;
}


#hereswhyitworkssec .hereswhyitworksimg h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #000000;
}

#hereswhyitworkssec .hereswhyitworksimg p {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;

}

#hereswhyitworkssec .hereswhyitworksgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

#hereswhyitworkssec .hereswhyitworksimg div {
    margin-bottom: 1rem;
    ;
}

#hereswhyitworkssec .hereswhyitworksimgbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hereswhyitworkssec .itworksimg {
    width: 100%;
    height: auto;
}

/* Here's why it works end */

/* What science tells us style start */
#whatsciencetellssec {
    /* background: red   ; */
}

#whatsciencetellssec .whatsciencetells {
    padding: 7rem 0;
}

#whatsciencetellssec .whatsciencetells {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}

#whatsciencetellssec .whatsciencetellstext h1 {
    margin-bottom: 1.5rem;
}

#whatsciencetellssec .whatsciencetellstext p {
    color: #000000;
}

#whatsciencetellssec .whatsciencetellsgridcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    /* column-gap: 2rem; */
}

#whatsciencetellssec .whatsciencetellsdiv {
    /* background-color: red; */
    padding: 1rem;
    border-left: 2px solid #000;

}

/* What science tells us style end */

/* Open Secrets of Living Well start style start */
#opensecretsoflivingsec {
    /* background-color: blue; */
    padding: 0 0 5rem 0;
}

#opensecretsoflivingsec .headingcont {
    padding-bottom: 2rem;
    color: #801B53;
}


#opensecretsoflivingsec .opensecretsoflivingimgcont {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

#opensecretsoflivingsec .opensecretsoflivingimgcont img {
    width: 100%;
}

/* Open Secrets of Living Well start style end */


/* The Primus Difference start */
#theprimusdifferencesec {
    padding: 0 0 5rem 0;

}

#theprimusdifferencesec .headingcontsec {
    padding: 0 0 5rem 0;
    text-align: center;
}

#theprimusdifferencesec .headingcontsec h1 {
    margin-bottom: 1rem;
}


#theprimusdifferencesec .differencesdivcont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#theprimusdifferencesec .differencesdivsec {
    /* padding: 5rem 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theprimusdifferencesec .differencesdivsec:not(:last-child) {
    border-right: 2px solid #000;
}

/* The Primus Difference end */

/*  Discover a new way to live, together style start */
#discovernewwaytolivesec {}

#discovernewwaytolivesec .discovernewwaytolivecont {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}

#discovernewwaytolivesec .discovernewwaytextsec h1 {
    margin-bottom: 2rem;
}

#discovernewwaytolivesec .discovernewwaytextsec p {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000000;
}

#discovernewwaytolivesec .discovernewwayimgsec img {
    width: 100%;
    height: auto;
}

/*  Discover a new way to live, together style end */







/* Media query */
@media screen and (min-width: 1367px) {
    #howitbeginsec .howitbegintext h1 {
        font-size: 4rem;
    }

    .hereswhyitworksimg div img {
        width: 5rem;
    }

    #hereswhyitworkssec .hereswhyitworksimg h2 {
        font-size: 24px;
    }

    #hereswhyitworkssec .hereswhyitworksgrid {
        gap: 1rem;
    }

    /* .primary-heading {
        font-size: 64px;
        line-height: 64px;
    } */
    .discovernewwaytextsec h1 {
        font-size: 59px;
        line-height: 69px;
    }

    #multigenerationalsec .multigenerationalsectwo .secboxdiv {
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
    .primary-heading {
        font-size: 3rem;
        line-height: 4rem;
    }

    .howitbegintext p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    #howitbeginsec .howitbegincont {
        gap: 1rem;
        padding: 0 1rem;
    }

    #howitbeginsec {
        margin-bottom: 4rem;
    }

    #trustedrecognisedsec .sectiontextdwn {
        padding: 0.5rem 1rem;
    }

    #trustedrecognisedsec .sectiontextdwn p {
        font-size: 15px;
    }

    #trustedrecognisedsec {
        padding-bottom: 10rem;
    }

    #multigenerationalsec .multigenerationalcont {
        padding: 10rem 1rem;
    }

    #multigenerationalsec .multigenerationalsecone h1 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .multigenerationalsectwo {
        padding: 1rem !important;
    }

    .secboxdiv div img {
        width: 3rem;
    }

    #multigenerationalsec .multigenerationalsectwo .secboxdiv {
        padding: 0.5rem;
    }

    #multigenerationalsec .multigenerationalsectwo .secboxdiv h3 {
        font-size: 1rem;
    }

    .hereswhyitworksimg div img {
        width: 3rem;
    }

    #hereswhyitworkssec .hereswhyitworksimg h2 {
        font-size: 1rem;
    }

    #hereswhyitworkssec .hereswhyitworksimg p {
        font-size: 16px;
    }

    #hereswhyitworkssec .hereswhyitworksgrid {
        gap: 1rem;
    }

    #hereswhyitworkssec .hereswhyitworkstext {
        padding-bottom: 1.5rem;
    }

    #hereswhyitworkssec {
        padding: 0 0 0 0;
    }

    #whatsciencetellssec .whatsciencetellsgridcont {
        row-gap: 1rem;
    }

    #whatsciencetellssec .whatsciencetellstext h1 {
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #whatsciencetellssec .whatsciencetells {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #theprimusdifferencesec .headingcontsec h1 {
        font-size: 3rem;
    }

    .differencesdivsec div img {
        width: 3rem;
    }

    .discovernewwaytextsec h1 {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    #opensecretsoflivingsec .opensecretsoflivingimgcont {
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    #howitbeginsec .howitbegincont {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }

    #howitbeginsec .howitbegintext h1 {
        margin-bottom: 1rem;
    }

    #trustedrecognisedsec .trustedrecognisedimgsec {
        flex-direction: column;
    }

    #multigenerationalsec .multigenerationalcont {
        flex-direction: column;
    }
}